@tailwind base;
  @tailwind components;
  @tailwind utilities;
html,
body,
:root {
  height: 100%;
}


/* BACKGROUND FOR THE LANDING PAGE*/
body {
  /*background-image: url("/login-bg.svg");*/
  background-repeat: no-repeat;  /* To prevent repeating the image */
  background-position: center;  /* To center the image */
  background-size: cover;       /* To cover the entire container */
}

.user-button-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adjust shadow properties */
  border-radius: 4px; /* Optional: Add border radius for a softer look */
}

.Textarea {
  white-space: pre-wrap; /* Allow line breaks for long strings */
  word-break: break-all;  /* Break on character boundaries if needed */
}

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;

      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;

      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;

      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;

      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  /*--------------------AVATARBOX------------ C L E R K CUSTOM STYLE--------------------------------------------*/

.cl-userPreviewAvatarContainer{
  border: 2px solid #f0f0f0; 
  border-radius: 100%; 
  padding: 2px; 
}

.cl-internal-1baqzr {
  background-color: #8D1717;
  
}

.cl-userPreviewMainIdentifier {
  color: #ffffff;  /* Name text color */
}

.cl-userPreviewSecondaryIdentifier {
  color: #ffe604;  /* username text color */
}


/* MIDDLE PART OF THE POPUP CARD */

.cl-userButtonPopoverActionButton {
  color: #8D1717; /* red text */
}
.cl-userButtonPopoverActionButton:hover {
  color: #e01c1c; /* highlight red text when hovering */
}
/* the one behind the front card*/
.cl-cardBox{
  background-color: #b91c1c;
  padding-bottom: 10px;
  border-radius: 45px 45px 0px 0px;
  border: 3px solid #000000;
}

.cl-card {
  /* card container */
  background-color: #4e0a0a;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border: 2px solid #000000;
}

.cl-main {
  /* Your custom styles for the main container */
  margin-top: 4px;
}


/* HEADER TEXT STYLING */

.cl-headerTitle {
  /* header title */
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.cl-headerSubtitle {
  /* header subtitle */
  font-size: 14px;
  color: #c0bebe;
}

/*------------------SIGNIN----CARD-------------------------------------*/
/* BUTTON STYLING */
.cl-socialButtonsBlockButton {
  /*GOOGLE BUTTON*/
  background-color: #700909 ;
  color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.cl-socialButtonsBlockButton:hover {
  background-color: #d60c0c;
}

/* DIVIDER STYLING */
.cl-dividerLine {
  /* divider line */
  border-top: 2px solid #9e9e9e;
}

.cl-dividerText {
  /*  divider text */
  font-size: 12px;
  color: #fff;
  margin: 0 10px;
}

/* FORM FIELD STYLING */
.cl-formFieldLabel {
  /* EMAIL OR USERNAME label */
  font-size: 14px;
  color: #ffffff;
}

.cl-formFieldInput {
  /* field input */
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 30px;
}

/* PRIMARY BUTTON STYLING */
.cl-formButtonPrimary {
  /* button */
  background-color: #8b3706;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.cl-formButtonPrimary:hover {
  /*hover styles for the primary button */
  background-color: #8D1717;
}

.cl-footer {
  background-color: #490D0D;
  /*border-radius: 0px 0px 20px 20px;*/
}
/* Hides the "Secured by Clerk" element */
.cl-internal-180wb59 {
  display: none; /* for the initial loginpage */
}

.cl-internal-11ttlho {
  display: none; /* for the userbutton */
}

.cl-internal-lqfubk {
  display: none; /* for the view account */
}


 @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  } 
@import "~@uploadthing/react/styles.css"
