 @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
html,
body,
:root {
  height: 100%;
}

/*------------------------------------------------- C L E R K CUSTOM STYLE--------------------------------------------*/

/* the one behind the front card*/
  .cl-cardBox{
    background-color: #770b3d;
    padding-bottom: 10px;
    border-radius: 45px 45px 0px 0px;
    border: 3px solid #000000;
  }
  
  .cl-card {
    /* card container */
    background-color: #FDE047;
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border: 2px solid #000000;
  }
  
  .cl-main {
    /* Your custom styles for the main container */
    margin-top: 4px;
  }
  

  /* HEADER TEXT STYLING */
  
  .cl-headerTitle {
    /* header title */
    font-size: 20px;
    font-weight: bold;
    color: #770b3d;
  }
  
  .cl-headerSubtitle {
    /* header subtitle */
    font-size: 14px;
    color: #770b3d;
  }

  
  /* BUTTON STYLING */
  .cl-socialButtonsBlockButton {
    background-color: #B69802;.cl-socialButtonsBlockButton {
      
      background-color: #f0a544;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .cl-socialButtonsBlockButton:hover {
      background-color: #0056b3;
    }
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cl-socialButtonsBlockButton:hover {
    background-color: #FDD821;
  }
  
  /* DIVIDER STYLING */
  .cl-dividerLine {
    /* divider line */
    border-top: 2px solid #583404;
  }
  
  .cl-dividerText {
    /*  divider text */
    font-size: 12px;
    color: #7E5920;
    margin: 0 10px;
  }
  
  /* FORM FIELD STYLING */
  .cl-formFieldLabel {
    /* field label */
    font-size: 14px;
    color: #333;
  }
  
  .cl-formFieldInput {
    /* field input */
    padding: 8px;
    border: 3px solid #ccc;
    border-radius: 30px;
  }
  
  /* PRIMARY BUTTON STYLING */
  .cl-formButtonPrimary {
    /* button */
    background-color: #770b3d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .cl-formButtonPrimary:hover {
    /*hover styles for the primary button */
    background-color: #b108a8;
  }

  .cl-footer {
    background-color: #bb276c;
    /*border-radius: 0px 0px 20px 20px;*/
  }
 /* Hides the "Secured by Clerk" element */
  .cl-internal-180wb59 {
    display: none; /* for the initial loginpage */
  }

  .cl-internal-11ttlho {
    display: none; /* for the userbutton */
  }
  
  .cl-internal-lqfubk {
    display: none; /* for the view account */
  }
/*  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  } */

  /*----------------------------------------------------------------END OF CLERK CUSTOMIZATION-----------------------------------*/