@tailwind base;
  @tailwind components;
  @tailwind utilities;
html,
body,
:root {
  height: 100%;
}

/*------------------------------------------------- C L E R K CUSTOM STYLE--------------------------------------------*/

.cl-internal-1baqzr {
    background-color: #b108a8;
    
  }

.cl-userPreviewMainIdentifier {
    color: #ffffff;  /* Name text color */
  }

.cl-userPreviewSecondaryIdentifier {
    color: #ffe604;  /* username text color */
  }


  /* MIDDLE PART OF THE POPUP CARD */

  .cl-userButtonPopoverActionButton {
    color: #770b3d; /* Dark purple text */
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  /*----------------------------------------------------------------END OF CLERK CUSTOMIZATION-----------------------------------*/